*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}


/* top area */
#top-area{
    max-width: 1140px;
    margin: 35px auto;
}
#top-area nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#top-area a{
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
    letter-spacing: 1.5px;
}
#top-area .btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
    border: 1px solid gray;
}
/* header area work start */
#header{
    width: 100%;
    height: 600px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  
}
.section{
    text-align: center;
    padding: 24px 221px 45px 221px;
}
.image{
    width: 240px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#header .title{
    font-size: 35px;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
}
#header .discription{ 
    font-size: 16px;
    padding: 0px 60px 0 60px;
    font-weight: 400;
    margin-bottom: 30px;
}

.section a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
/* header area work end */


/* share  */

/* .height{
    line-height: 30px;
} */
.text-center{
    text-align: center;
}
.section .btn{
    padding: 16px 34px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.color-2{
    opacity: 0.7;
}
.title{
    color: rgb(13, 19, 33);
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}
.discription{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 30px 0px 30px;
    margin-bottom: 100px;
    line-height: 30px;
}

/* main area work start  */
main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 97px;
}
.title-area{
    padding-left: 40px;
    padding-right: 40px;
}
#about{
    border-radius: 10px;
    padding: 65px 150px;
    text-align: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02); 

}
.about-title{
    color: rgb(13, 19, 33);
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}
.about-discription{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    padding: 0px 30px 0px 30px;
    margin-bottom: 50px;
    line-height: 31px;
}
/* first box */
#about .first-box,.second-box,.third-box{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(to right, #ffff, rgba(255, 255, 255, 0));
}

 .column-1{
    text-align: left;
    line-height: 30px;
    padding-right: 59px;
}
.column-2{
    width: 50%;
    height: 243px;
}
.column-2 img{

    padding: 0px 10px 10px 0px;
}
 .clm-title{
    font-size: 17px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.clm-discription{
    font-size: 11px;
    font-weight: 400;
    margin: 10px 10px 30px 0px;
}
 .primary-btn{
    padding: 14px 32px;
    margin-top: 31px;
   
}
/* second box */
#about .second-box .column1-img{
    text-align: left;
    margin-right: 25px;
}
.second-box .column-2{
    text-align: left;
    line-height: 30px;
}
.second-box .clm-title{
    font-size: 18px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.second-box .clm-discription{
    font-size: 11px;
    font-weight: 400;
    margin: 10px 10px 30px 0px;
}

/* next step My Inspiration */
#inspiration{
    border-radius: 10px;
    padding: 65px 70px;
    text-align: center;
    margin-bottom: 50px; 
}


#inspiration  iframe{
    width: 100%;
    height: 560px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
   padding: 32px;
}
/*next step present target */
#present-target{
    border-radius: 10px;
    padding: 65px 70px;
    text-align: center;
    
}
#present-target .skill-container{
    display: flex;
    text-align: left;
    gap: 20px;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
}
.skill-container{
    width: 940px;
}
.skill{
    border-radius: 5px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 76, 30, 0.05);
   
}
.skill-3{
    border-radius: 5px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 223, 0, 0.05);
}
.skill-2{
    background: rgba(0, 76, 232, 0.05);
}
.skill img{
    text-align: left;
}
#present-target .skill-title{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 50px;

}
.skill-discription{
    color: rgb(13, 19, 33);
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.learn{
    font-size: 11px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    text-decoration: underline;
}
/* my next target */
#next-target{
    border-radius: 10px;
    padding: 65px 70px;
    text-align: center;
}
.target-area{
    padding: 40px;
    display: flex;
    /* border: 1px solid black;
    border-radius: 16px; */
    margin-bottom: 15px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 15px;
    background: rgb(255, 255, 255);
}
.target-area .Img{
    text-align: left;
    margin-right: 30px;
}
.target-area img{
    padding-top: 11px;
    padding-bottom: 11px;
}
.target{
    text-align: left;
}
.target-title{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
}
.target-discription {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
/* Need support*/
#support-section{
    margin-left: 66px;
    margin-right: 66px;
    border-radius: 10px;
    padding: 65px 70px;
    text-align: center;
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}
#support-section input[type="text"] {
    width: 301px;
    padding: 16px;
    border-radius: 10px;
    border: none;
}
.support-title{
    color: rgb(255, 255, 255);
}
.support-discription {
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
}
.form{
    align-items: center;
}
.button{
    padding: 16px 0px;
    border-radius: 10px;
    border: none;
    width: 111px;
}
/* main area end */




/* footer-area start */
#footer-area{
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 26px 209px;
}
#footer-area .last-text{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(13, 19, 33);
}

#footer-area .right-side{
    gap: 20px;
}
/* footer-area end */